.menu {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 1rem;
	flex-direction: column;
	list-style: none;
	width: fit-content;
}

.menu-item {
	text-align: right;
	cursor: pointer;
}

.menu-item:hover {
	color: var(--primary-main);
}

.barra {
	width: 20%;
	height: 2px;
	background-color: var(--primary-main);
}
