@use "../../sass/mixins";

.mensagem {
	display: grid;
	grid-template-columns: 1fr;
	place-items: start;
	width: 100%;
	background-color: var(--bg-color);
	padding: 0.5rem;

	margin: 0.5rem 0;
	border-radius: 12px;

	&__titulo {
		font-weight: 600;
		white-space: normal;
	}

	&__collapse {
		font-size: 0.9em;
		cursor: pointer;
		&:hover {
			color: var(--primary-main);
		}
	}

	&__conteudo {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0.5rem 1rem;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		flex-direction: column;

		@include mixins.breakpoint(lg) {
			flex-direction: row;
		}
	}

	&__preview {
		width: 80%;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.mensagem__header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;

	&:focus {
		outline: none;
	}
	&:focus .mensagem__collapse {
		color: var(--primary-main);
	}

	& > div {
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
	}
}

.mensagem__detalhes {
	width: 100%;

	summary {
		display: flex;
		justify-content: space-between;
		text-overflow: ellipsis;
		overflow: hidden;
		flex-direction: column;
	}

	&[open] {
		> .mensagem-details-content {
			animation: expand 0.5s ease-out;
		}
		.mensagem__preview {
			display: none;
		}
	}
}

.mensagem-details-content {
	width: 100%;
	padding: 0 1rem;
	white-space: normal;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	@include mixins.breakpoint(lg) {
		gap: 1rem;
	}

	& > p:last-child {
		flex-basis: 100%;
	}
}

@keyframes expand {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
