@use "../sass/mixins";

.page {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	width: 95%;
	margin: 0 auto;
	margin-top: 4rem;
	padding: 1rem;
	background-color: #d4d4d4;
	border-radius: 12px;

	@include mixins.breakpoint(lg) {
		width: 80vw;
	}
}

.input {
	width: 75%;
	background-color: var(--text-color);
	color: var(--bg-color);
	padding: 0.5rem;
	border-radius: 15px;
	& > label {
		display: none;
	}
	&__container {
		display: flex;
		width: 100%;
		gap: 1rem;
	}
}

.input__container {
	&-text {
		width: 100%;
		border: none;
		background-color: transparent;
		color: var(--bg-color);
	}
}

.sendbox {
	width: 100%;
	margin-top: 1rem;
	&__titulo {
		text-transform: uppercase;
	}
}
