@use "../sass/mixins";

.page {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	width: 95%;
	margin: 0 auto;
	margin-top: 4rem;
	padding: 1rem;
	background-color: #d4d4d4;
	border-radius: 12px;

	@include mixins.breakpoint(lg) {
		width: 80vw;
	}
}

.input {
	width: 75%;
	background-color: var(--text-color);
	color: var(--bg-color);
	padding: 0.5rem;
	border-radius: 15px;
	& > label {
		display: none;
	}
	&__container {
		display: flex;
		width: 100%;
		gap: 1rem;
	}
}

.input__container {
	&-text {
		width: 100%;
		border: none;
		background-color: transparent;
		color: var(--bg-color);
	}
}

.sendbox {
	width: 100%;
	margin-top: 1rem;
	&__titulo {
		text-transform: uppercase;
	}
}

.mensagem {
	display: grid;
	grid-template-columns: 1fr;
	place-items: start;
	width: 100%;
	background-color: var(--bg-color);
	padding: 0.5rem;

	margin: 0.5rem 0;
	border-radius: 12px;

	&__titulo {
		font-weight: 600;
	}

	&__conteudo {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0.5rem 1rem;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		flex-direction: column;

		@include mixins.breakpoint(lg) {
			flex-direction: row;
		}
	}

	&__preview {
		width: 80%;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.mensagem__header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;

	& > div {
		width: 100%;
		display: inline-flex;
		justify-content: space-between;
	}
}

.mensagem__detalhes {
	width: 100%;

	summary {
		display: flex;
		justify-content: space-between;
		text-overflow: ellipsis;
		overflow: hidden;
		flex-direction: column;
	}

	&[open] {
		> .mensagem-details-content {
			animation: expand 0.5s ease-out;
		}
		.mensagem__preview {
			display: none;
		}
	}
}

.mensagem-details-content {
	width: 100%;
	padding: 0 1rem;
	white-space: normal;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	@include mixins.breakpoint(lg) {
		gap: 1rem;
	}

	& > p:last-child {
		flex-grow: 1;
	}
}

@keyframes expand {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
