.container {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 0 4rem;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}
