//Dispositivos pequenos
$smBreakpoint: 640px;

//Dispositivos médios
$mdBreakpoint: 768px;

//Dispositivos largos
$lgBreakpoint: 1024px;

//Dispositivos extra largos
$xlBreakpoint: 1280px;

//Dispositivos muito largos
$xxlBreakpoint: 1536px;
